<!-- tmp.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Align vertically Page</title>
    {% load static %}
    <style>
        body,h1 {font-family: "Raleway", sans-serif}
        body, html {height: 100%}
        .bgimg {
            background-image: url("{% static 'pictures/forestbridge.jpg' %}");
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
        .center {
          border: 3px solid white;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
    </style>
</head>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      <img src="{% static 'pictures/python_plush.png' %}" alt="PythonPlush" width="15%" height="15%">
    </div>
    <div class="w3-display-middle">
      <h1 class="w3-jumbo w3-animate-top">PLOTIMAGE</h1>
      <hr class="w3-border-grey" style="margin:auto;width:40%">
      <p class="w3-large w3-center">Alignement Vertical :
        {% if img_str %}
          <img src='{% static "pictures/generated/tmp.jpg" %}' class="center" alt="Image avec bordure noire">
        {% else %}
          <p>Aucune image disponible.</p>
        {% endif %}
      </p>
    </div>
    <div class="w3-display-bottomleft w3-padding-large">
      Corentin RICHARD, Dorian HODIN
    </div>
  </div>

</html>
